$colors: (
    'common': (
        'white': #F5F7F5,
        'white-solid': #fff,
        'black': #1E1E1E,
        'black-2': #1E1E1E,
        'black-3': #141414,
        'dark': #121212,
        'orange': #EB5939,
    ),
    'grey': (
        '1':#262626,
        '2':#F4F4F4,
        '3':#5D5D63,
        '4':#F7F7F7,
    ),
    'text': (
        'body':#5D5D63,
    ),
    'theme': (
        '1': #336EF9,
    ),
    'border': (
        '1': #EAEAEB,
    )
);

$colors-dark: (
  'common': (
    'white': #121212,
    'white-solid': #1a1a1a,
    'black': #F5F7F5,
    'black-2': #FFFFFF,
    'black-3': #E5E5E5,
    'dark': #000000,
    'orange': #FF7043
  ),
  'grey': (
    '1': #1E1E1E,
    '2': #2A2A2A,
    '3': #B5B5B5,
    '4': #1F1F1F
  ),
  'text': (
    'body': #D1D1D1
  ),
  'theme': (
    '1': #4C82FF
  ),
  'border': (
    '1': #333333
  )
);


$white : #fff;
$black : #020626;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;